<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<div>
    hello

</div>

<%- include('../partials/_footer.ejs')%>










<br><br><br><br><br><br><br>
<%- include('../partials/_copyright.ejs')%>
<%- include('../partials/_footer.ejs')%>