<!--
 * @Author: your name
 * @Date: 2021-12-12 17:04:44
 * @LastEditTime: 2021-12-26 20:23:44
 * @LastEditors: your name
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \work\NodejsBlogSystem\views\categories\addcategory.ejs
-->
<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<video src="https://img-baofun.zhhainiao.com/fs/scene/preview_video/4bf2316fb03d5abc22715071bdde44e4_preview.mp4" style="width: 100%;height: 100%;object-fit: cover;position: fixed;top: 0;left: 0; z-index:-999;" autoplay="autoplay" loop="loop" muted="muted"  background-attachment="scroll"></video>
<section id="add-category" class="my-5 p-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card border-secondary m-5" style="max-width: 25rem;">
                <div class="card-header"> Add Category<br></div>
                <div class="card-body">

                    <form action="/categories/add" method="post">
                        <div class="form-group">
                            <input type="text" name="cname" class="form-control" placeholder="Enter Category.."
                                required>
                        </div>
                        <button type="submit" class="btn btn-black btn-md mt-3">Submit</button>
                    </form>

                </div>
                <div class="card-footer">
                    <p class="card-text"></p>
                </div>
            </div>

            <%- include('../partials/_messages.ejs') %>
        </div>
     

        <div class="col-md-6">
             
            <div class="card mt-4">
                <div class="card-header"> <h3> Latest Categories </h3> </div>
                <ul class="list-group list-group-flush">
                    <% categories.forEach(category => { %>
                    <li class="list-group-item"> <%= category.cname %> </li>
                    <% }) %>
                </ul>
            </div>
        </div>


    </div>
</section>








<%- include('../partials/_footer.ejs') %>