<!--
 * @Author: your name
 * @Date: 2021-12-20 22:53:01
 * @LastEditTime: 2021-12-22 10:14:23
 * @LastEditors: Please set LastEditors
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \work\NodejsBlogSystem\views\users\editprofile.ejs
-->
<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<<<<<<< HEAD
<main>
    <%- include('../partials/_messages.ejs') %>
    <div class="regBkg ">
    	<div class="regBkgMask">
    	<div class="register-position">
        <div class="register-input">
            <div class="container">
                <h3 class="font-weight-bold text-center mb-3">
                    <i></i> 用户信息修改
                </h3>

				<form action="/editprofile" method="post">
				    <div class="form-group">
				    <input type="text" name="name" placeholder="你的名字" value="<%= user.name %>"  class="form-control" 
				        required />
				    </div>
				            
				    <div class="form-group">
				    <input type="email" placeholder="电子邮箱" name="email" value="<%= user.email %>"  class="form-control" 
				        required />
				    </div>
				            
				    
				    <div class="form-group">
				    <input type="text" name="password" placeholder="密码" 
				        value="<%= user.password %>"  class="form-control"  required />
				    </div>
				    <div class="form-group">
				            <input type="password" name="confirmPassword" placeholder="Re-enter Password.."
				                value="<%= user.password %>"  class="form-control"  required />
				     </div>   
				    <button class="btn btn-success btn-block" type="submit">确认修改</button>
			
           
         
            
            </div>
        </div>
    	</div>
       </div>

    </div>
    
    
    
    
    
    
    
    
    
    
    
    <br><br><br><br>
</main>



<%- include('../partials/_footer.ejs')%>
