<!--
 * @Author: your name
 * @Date: 2021-12-20 22:53:01
 * @LastEditTime: 2021-12-22 10:14:23
 * @LastEditors: Please set LastEditors
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \work\NodejsBlogSystem\views\users\editprofile.ejs
-->
<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<br><br><br>
    <%- include('../partials/_messages.ejs') %>
		<div class="editBkg">
    	<div class="regBkgMask">
    	<div class="register-position">
        <div class="register-input">
            <div class="container">
                <h3 class="font-weight-bold text-center mb-3">
                    <i></i> 用户信息修改
                </h3>

				<form action="/editprofile" method="post">
				    <div class="form-group">
						<p style="float:left; margin-left: -15%; margin-top: 1% ; font-size: 18px; font-weight:bolder;">名字：</p>
				    <input type="text" name="name" placeholder="你的名字" value="<%= user.name %>"  class="form-control" 
				        required />
				    </div>
				            
				    <div class="form-group">
						<p style="float:left; margin-left: -15%; margin-top: 1% ; font-size: 18px; font-weight:bolder;">邮箱：</p>
				    <input type="email" placeholder="电子邮箱" name="email" value="<%= user.email %>"  class="form-control" 
				        required />
				    </div>
				            
				    
				    <div class="form-group">
						<p style="float:left; margin-left: -15%; margin-top: 1% ; font-size: 18px; font-weight:bolder;">密码：</p>
				    <input type="password" name="password" placeholder="密码" 
				        value="bukeneng"  class="form-control"  required />
				    </div>
					<div class="form-group">
						<p style="float:left; margin-left: -15%; margin-top: 1% ; font-size: 18px; font-weight:bolder;">地址：</p>
				            <input type="text" name="address" placeholder="your address.."
				                value="<%= user.address %>"  class="form-control" required />
				     </div>   
				    <div class="form-group">
						<p style="float:left; margin-left: -15%; margin-top: 1% ; font-size: 18px; font-weight:bolder;">格言：</p>
				            <input type="text" name="usermotto" placeholder="your motto.."
				                value="<%= user.usermotto %>"  class="form-control" required />
				     </div>   
				    <button class="btn btn-success btn-block" type="submit">确认修改</button>
			
           
         
            
            </div>
        </div>
    	</div>
       </div>
	   
	   
	   <div id="foot1">
		<br>
		<h4 style="margin-top: 17px;" class="white-text">华南师范大学中级软件实作</h3>
		<h5 class="white-text">2021.12.21</h5>
	</div>
	
	

    
    
    
    
    
    
    
    
    
    
    <br><br><br><br>



<%- include('../partials/_footer.ejs')%>
