<!--
 * @Author: your name
 * @Date: 2021-12-13 16:37:53
 * @LastEditTime: 2021-12-22 09:56:01
 * @LastEditors: Please set LastEditors
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \work\NodejsBlogSystem\views\users\profile.ejs
-->
<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<!-- <main class="py-5">
   <%- include('../partials/_messages.ejs') %>   
   
   <section id="posts">
    <br><br><br>
    <p class="lead mt-4">已有账户? <a href="/editprofile">焯</a></p>
    <% posts.forEach(post => { %>
        <div class="card m-5 p-4">
            <div class="card-body">
                <h2 class="card-title bg-light"><%= post.title %> </h2>  
                <img class="main-image" height="270px" src="<%= post.mainImagePath %>" /><br />
                <hr/>
                <%- post.body.substring(0, 460) %>...
                <hr/>
                <a href="/posts/<%=post._id%>" class="btn btn-dark">View Full Post</a>
                <hr />
                 Posted by <b><%=post.author %></b> on <b><%= post.date %></b>
                <hr/>
            </div>
        </div>
    <% }) %> 
   </section>

</main> -->

<main>
    <%- include('../partials/_messages.ejs') %>   
    
    <div id="posts" style="width: 70%;float: left;margin-left: 3%;border-radius: 100px;margin-top: 20px;">
     <% posts.forEach(post => { %>
        
         <div style="background-color: rgb(248, 248, 248);border-radius: 10px;height: 350px;margin-bottom: 20px;box-shadow: 2px 2px  5px 1px;">
             <div style="width: 33%;height: 350px;border-radius: 10px;float: left;align-content: center;text-align: center;">
                <div style="height: 30px;margin-bottom: 10px;">
                 
                </div>
                 <div style="display: flex;justify-content: center;align-items: center; height: 270px;">
                        <a href="/posts/<%=post._id%>">
                    <img   style="width: auto;height: auto;max-width: 70%;max-height: 270px;min-width: 50%;" src="<%= post.mainImagePath %>" />
                    </a>
                </div>
            </div>
            <div style="width: 63%;height: 350px;border-radius: 10px;float: right;">
                <div style="height: 60%; padding-top: 80px;">
                    <h1 ><%= post.title %> </h1> 
                </div>
                <div style="height: 20%;">
                    <a href="/posts/<%=post._id%>" class="btn btn-outline-dark" >详细信息</a>
                </div>
                <div style="height: 20%;">
                  Posted by <b><%=post.author %></b> <br/>on <b><%= post.date %></b>
                </div>
            </div>
         </div>

         
        
     <% }) %> 
         
        </div>

        <div style="width: 23%;float: right; margin-right: 3%;margin-top: 20px;">
    
        <div style="width: 100%;height:800px;background-color: rgb(59, 147, 248);border-radius: 10px;padding-top: 40px;box-shadow: 2px 2px  5px 1px;">
            <div  style=" height: 170px;width: 170px; border-radius: 150px;margin:0 auto;margin-top:50px;">
                 <img src="https://s3.bmp.ovh/imgs/2021/12/753aab6ceb14f431.jpg" alt="test" style="width: 100%;height: 100%;border-radius:150px;"> 
                
            </div>
            <div style="height: 500px;width: 100%;margin-top: 50px;">
                <br/>
                <div style="height: 100px;width: 100%;display: flex;">
                    <div style="width: 35%;height: 100px;">
                        <img src="https://s3.bmp.ovh/imgs/2021/12/4367b2ec5cdf26d7.png" alt="ddd" style="width: 35px;height: 35px;float: right;margin-right: 30px;">
                    </div>
                    <div style="width: 65%;float: left;">
                    <text style="color: white; font-weight: bold;font-size: 25px; text-shadow: 1px 1px 1px dimgray;"><%= user.name %></text>
                    </div>
                </div>
                
                <div style="height: 110px;width: 100%;display: flex;   ">
                    <div style="width: 35%;height: 100px;">
                        <img src="https://s3.bmp.ovh/imgs/2021/12/4410115dd9f272bb.png" alt="ddd" style="width: 35px;height: 35px;float: right;margin-right: 30px;">
                    </div>
                    <div style="width: 65%;float: left;">
                    <text style="color: white; font-weight: bold;font-size: 25px; text-shadow: 1px 1px 1px dimgray;float: left;"><%= user.email %></text>
                    </div>
                </div>
                <div style="height: 110px;width: 100%;display: flex;">
                    <div style="width: 35%;height: 100px;">
                        <img src="https://s3.bmp.ovh/imgs/2021/12/23baaac773eace92.png" alt="ddd" style="width: 35px;height: 35px;float: right;margin-right: 30px;">
                    </div>
                    <div style="width: 65%;float: left;">
                    <text style="color: white; font-weight: bold;font-size: 25px; text-shadow: 1px 1px 1px dimgray;float: left;"><%= user.address %></text>
                    </div>
                </div>
                <div style="margin: 0 auto;text-align: center;width:250PX;">
                <a href="/editprofile" class="btn btn-white "style="border-radius:10px">修改信息</a>
            </div>
            </div>
        </div>
        <div style="width: 100%;height:400px;border-radius: 10px;background-color: rgb(248, 248, 248);margin-right: 3%;margin-top: 20px;">
            
        </div>
        </div>
    </main>
 
  




<script>

const socket = io()

function renderTemplate(item, imgStr) {
    return `
    <div class="card m-5 p-4">
        <div class="card-body">
            <h2 class="card-title bg-light">${item.title}</h2>  
            <img class="main-image" height="270px" src="${imgStr}" /><br />
            <hr/>
            ${item.body.substring(0, 460)}...
            <hr/>
            <a href="/posts/${item._id}" class="btn btn-dark">View Full Post</a>
            <hr />
             Posted by <b><${item.author}</b> on <b>${item.date}</b>
            <hr/>
        </div>
    </div>
`
}

let section = document.getElementById('posts')

socket.on('server:postCreated', (resData) => {
    fetch('/api/posts')
    .then(res => res.json())
    .then(data => {
        section.innerHTML = data.map(item => {
            let img = btoa(
                new Uint8Array(item.mainImage.data)
                .reduce((data, byte) => data + String.fromCharCode(byte), '')  
            );
            let imgStr = `data:${item.mainImageType};base64,${img}`
            return renderTemplate(item, imgStr);
        })
    })
})
</script>


<%- include('../partials/_footer.ejs') %>